[submodule "src/.vim/bundle/syntastic"]
	path = src/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "src/.vim/bundle/timestamp.vim"]
	path = src/.vim/bundle/timestamp.vim
	url = https://github.com/zhaocai/timestamp.vim.git
[submodule "src/.vim/bundle/vim-commentary"]
	path = src/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "src/.vim/bundle/vim-pathogen"]
	path = src/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "src/.vim/bundle/vim-sensible"]
	path = src/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "src/.vim/inactive/tmux-config"]
	path = src/.vim/inactive/tmux-config
	url = https://github.com/pivotal/tmux-config.git
[submodule "src/.vim/inactive/vim-tmux-focus-events"]
	path = src/.vim/inactive/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "src/.vim/inactive/vim-tmux"]
	path = src/.vim/inactive/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "src/.tmux/plugins/tmux-copycat"]
	path = src/.tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "src/.tmux/plugins/tmux-logging"]
	path = src/.tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging
[submodule "src/.tmux/plugins/tmux-prefix-highlight"]
	path = src/.tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "src/.tmux/plugins/tmux-sensible"]
	path = src/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "src/.tmux/plugins/tpm"]
	path = src/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "src/.vim/bundle/vim-markdown"]
	path = src/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "src/.bash-git-prompt"]
	path = src/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "src/.vim/bundle/dracula-theme"]
	path = src/.vim/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "src/.vim/bundle/vim-session"]
	path = src/.vim/bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "src/.vim/bundle/vim-misc"]
	path = src/.vim/bundle/vim-misc
    url = git@github.com:xolox/vim-misc.git
[submodule "src/.vim/bundle/Vundle.vim"]
    path = src/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
[submodule "src/.vim/bundle/vim-json"]
    path = src/.vim/bundle/vim-json
    url = https://github.com/elzr/vim-json.git
